.root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 40%;
}

.title {
  font-family: var(--font-cursive);
  font-size: 2rem;
  color: var(--color-accent);
}

.paragraph {
  font-size: 1.2rem;
  line-height: 180%;
  margin: 2vw 0;
  width: 82%;
  text-shadow: 1px 1px black;
}

.tip {
  color: white;
  font-family: var(--font-cursive);
  font-size: 1.5rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3vw;
  justify-content: space-between;
}

.tipArrowSvg {
  stroke: white;
  width: 0.9vw;
}
