.root {
  width: 100%;
  height: 40vw;
  position: relative;
  overflow: hidden;
}

.imageLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.layer1 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('/images/1944/bags.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 100%;
  pointer-events: none;
  transform: scale(1.05);
}

.layer2 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  width: 66%;
  height: 100%;
}

.layer3 {
  background-image: url('./trees1944.jpg');
  background-position: center 100%;
  transform: scale(1.05);
}

.helmetGroup {
  position: relative;
  transition: top 0.5s ease-out;
  pointer-events: all;
}

.helmet {
  position: absolute;
  width: 11vw;
  left: 50%;
  transform: translateX(-50%);
}

.helmet3 {
  width: 13vw;
}

.gun {
  position: absolute;
  width: 6vw;
  left: 50%;
  transform: translateX(-50%);
}
